body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
/* Reset */
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* Main container */
.main-container {
    width: 70em;
    height: 100vh;
    margin: 1em auto;
}

/* Word Styling */
.word {
    display: flex;
    gap: 2em;
    margin: 2em 0;
}

.intro {
    font-size: 1.6rem;
}

/* Character styling */
.character {
    /* Border bottom for the underline of the character */
    width: 1em;
    font-size: 2rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px black solid;
}

/* When the characters 'correct' value is changed to true */
.character.show {
    color: #333;
}

/* Alphabet styling */
.alphabets {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4em;
}

.alphabet {
    border: #333 solid 1px;
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 50%;
}

.alphabet.correct {
    border: 1px solid green;
    color: green;
}

.alphabet.incorrect {
    border: 1px solid red;
    color: red;
}

/* Hangman image */
.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    padding: 2em 3em;
}

/* Input container */
.input-container > div {
    margin: 2em;
}

.input-output {
}

.win-or-lose {
    margin: 1em auto;
    font-size: 1.6rem;
}

.hangmanImage-container {
    display: flex;
    gap: 2em;
}

.main-input {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

.main-buttons {
    display: flex;
    gap: 1em;
}

/* Btn */
.btn {
    border: 2px solid black;
    padding: 0.4em 0.8em;
    border-radius: 0.4rem;
    background-color: #fff;
    cursor: pointer;
}

.btn:hover {
    color: #834242;
    border: #834242 2px solid;
}

/* Rules pop ups */
:modal {
    border-radius: 1rem;
}
